DATABASE_NAME=movie-stream-app
MONGODB_URI=
BASE_PROMPT_TEMPLATE=Return a response using one of these words: {rankings}. The reponse should be a single word and should not contain any other text. The response should be based on the following review:
OPENAI_API_KEY=
RECOMMENDED_LIMIT_MOVIE=5

MONGODB_URI=
SECRET_KEY=
SECRET_REFRESH_KEY=
DATABASE_NAME=movie-stream-app
RECOMMENDED_MOVIE_LIMIT=9
BASE_PROMPT_TEMPLATE=Return a response using one of these words: {rankings}. The reponse should be a single word and should not contain any other text. The response should be based on the following review:
OPENAI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL="http://localhost:8080/api/auth/google/callback"