# Node Dependencies
Client/movies-stream-client/node_modules/
Client/movies-stream-client/dist/
node_modules/
dist/

# Go build artifacts
Server/StreamMoviesServerapp
Server/StreamMoviesServerbin/
*.exe
*.dll
*.out

# OS files
.DS_Store
.vscode/

# Environment files
Client/movies-stream-client/.env
Server/StreamMoviesServer/.env
.env
*.env
